header.header
  nav.nav.nav--loans
    a.nav__el(href='/loans') Loan Lists
    form.nav__search
      button.nav__search-btn
      input.nav__search-input(type='text' placeholder='Search Loans')
  .header__logo
    img(src='img/bank.png' alt='Loan logo')
  nav.nav.nav--user
    a.nav__el(href='/newLoan') New Loan Entry
    a.nav__el(href='/login') Login
    a.nav__el(href='/signup') Signup
    a.nav__el(href='#')
      img.nav__user-img(src='img/users/user.png' alt='User photo')
      span Customer
